<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 <div class="row">
  <div class="small-3 columns">
    <%= f.label :email, class: "right inline" %>
  </div>
  <div class="small-9 columns"><%= f.text_field :email %></div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :password, class: "right inline" %>
  </div>
  <div class="small-9 columns"><%= f.text_field :password %></div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :password_confirmation, class: "right inline" %>
  </div>
  <div class="small-9 columns"><%= f.text_field :password_confirmation %></div>
</div>
<div class="row">
  <div class="small-6 small-offset-3 columns"><%= f.submit class: "round button" %></div>
</div>
<% end %>

<%= render "devise/shared/links" %>
