<%= form_for [@wiki] do |f| %>
	<div class="row">
		<div class="large-12 columns">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<%= f.label :body %>
		<%= f.text_area :body, style:"height: 300px" %>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<%= f.label :private %>
		<%= f.check_box :private %>
		</div>
	</div>
	<div class="row">
		<%= f.submit "Create Wiki", class: "round button tiny" %>
	</div>
<% end %>		
		