<!DOCTYPE html>
<html>
<head>
  <title>Zopipedia</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Awesome Wki", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
  <% if flash[:notice] %>
    <div data-alert class="alert-box success radius">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div data-alert class="alert-box warning round">
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div data-alert class="alert-box info radius">
      <%= flash[:alert] %>
    </div>
  <% end %>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
